/* --- Externos --- */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css');
@import url('https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css');


/* --- Cosas --- */
@import url('./cosas/variables.css');
@import url('./cosas/normalizacion.css');
@import url('./cosas/animaciones');


/* --- PARTES --- */
/* --- Header --- */
@import url('./partes/header.css');
/* --- Slider --- */
@import url('./partes/slider.css');
/* --- Footer --- */
@import url('./partes/footer.css');


/* --- PÁGINAS SHOP --- */
/* --- Página Home --- */
@import url('./pages/home.css');
@import url('./pages/contact.css');
@import url('./pages/mensajeEnviado.css');


/* --- PÁGINAS Admin --- */
/* --- Páginas Create y Edit --- */
@import url(./pages/create.css);
/* --- Página Admin --- */
@import url(./pages/admin.css);




/* -------------------*/
/* --- Login Rebe --- */
/* -------------------*/

.form_login__title {
    font-family: var(--title-font);
    font-size: var(--font-display);
    text-align: center;
    padding-top: var(--spacing-24);

}

.form_login__text {
    font-family: var(--title-font);
    font-size: var(--font-xlarge);
    text-align: center;
    padding: var(--spacing-24);

}

.form_login__container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
   
}

.form_login__label {
    font-size: var(--font-large);   
  
}

.form_login__input {
    font-size: var(--font-large);
    border: none;
    border-bottom: 2px solid var(--primary-solid);

}

.form_login__input:active, 
.form_login__input:focus, 
.form_login__input:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--primary-solid);

}


.form_login__data__link {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    display: inline-block;
    font-size:var(--font-medium);
    font-family: var(--title-font);
    padding: var(--spacing-8) var(--spacing-16);
    transition: background .3s ease-in-out;
    position: relative;
   

}

.form_login__data__link:hover {
    background-color: var(--primary-900);   
   }
   
.form_login__data {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-24);
    align-items: center;
}

.form_login__label_checkbox {
    font-size: var(--font-small);
    color:var(--secondary-solid)
}

.form_login__span {
  color: var(--dark-solid);
}

.check:checked {
    background-color: var(--primary-solid);
  }

 
/* ---------------------------*/
/* --- Media Queries Rebe --- */
/* ---------------------------*/

@media screen and (min-width: 768px) {
    .navbar__logo__mobile {
        display: none;
    }
  }


@media screen and (max-width: 767px) {
.navbar__logo__desk {
    display: none;
}  

.navbar__logo__mobile  {
    width: 50%;
}

.navbar__logo {
    width: 100px;
}

.navbar {
    justify-content: center;
}

.navbar__menu {
    gap: var(--spacing-12);
}
       
.form_login__data {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: var(--spacing-20);
    align-items: center;
  
}

.navbar__link,
.form_login__title,
.form_login__text, 
.form_login__input,
.form_login__label {
    font-size: var(--font-small); 

  }

.form_login__data__link {
    margin-bottom: 1.5rem;
}
.navbar__item__footer {
    display: flex; 

  }

.navbar__link__footer, .footer__copy {
    padding: 1rem;
    font-size: var(--font-small);
}

.footer__copy {
    margin: 1rem;
    font-size: var(--font-small);
}

.footer {
    padding: var(--spacing-28);
}

.footer_login {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.mobile-collection {
    display: grid;
    justify-items: center;
   
}

.collection__title, 
.collection__link, 
.collection__text,
.card-item__licence, 
.card-item__name, 
.card-item__price ,
.card-item__promo {
    text-align: center;
}

.slider__items {
    display: flex;
    gap: 4px;
}

.card-item__cover {
    justify-content: center;
}

.card-item__img--back, .card-item__img--front {
    width: 50%;
   
}


}

