.form_contacto {
    width: 80%;
    margin: auto;
}

.datosContact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    padding: 20px;
    /* margin-left: 20%; */
}

input {
    text-align: left;
    margin-right: 10%;
    width: 45%;
}

textarea {
    background-color: var(--light-bg-solid) !important;
    max-width: 500px !important; 
    color: var(--dark-bg-solid) !important;
    box-sizing: border-box !important;
}

.form_contact_btn {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    border-radius: 25px;
    border: none;
    width: 230px;
    height: 55px;
    margin: auto;
    font-size: var(--font-medium);
}

/* responsive */
@media screen and (max-width: 780px){
    .contactForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center !important;
        margin: auto !important;
    }
    label {
        align-items: center;
        text-align: center !important;
        margin: 0 !important ;
    }
    input {
        height: 30px;
        margin: 0;
        text-align: center;
    }
}