.img_mensaje {
    width: 250px;
}

h3 {
    padding-bottom: 5px;
    white-space: nowrap;
}
.contenedor_mensajeEnviado {
    width: 100%;
    padding: 8%;
    display: flex;
    justify-content: space-around;
}

.texto_agradecimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.collection__text {
    color: var(--dark-bg-solid) !important;
}


/* responsive */
@media screen and (max-width: 1000px){
    .contenedor_mensajeEnviado {
        display: flex;
        flex-direction: column;
    }

    picture {
        margin: auto;
    }

    h3 {
        white-space:none;
    }
}