<%- include('../partials/headerShop') %>

<!----------------->
<!-- Inicio Main -->
<!----------------->
    <main class="container">
        <section class="contenedor_mensajeEnviado">
            <picture>
                <img class="img_mensaje" src="../img/harry-potter/hermione-1.webp" alt="Figura de Hermione" />
            </picture>
            <article class="texto_agradecimiento">
                <h3 class="collection__title mb-3">¡Gracias por tu compra!</h3>
                <p class="collection__text mb-3 text-white">Hemos recibido tu pedido correctamente y lo estamos procesando.</p>
            </article>
            <picture>
                <img class="img_mensaje" src="../img/star-wars/trooper-1.webp" alt="Figura de Tropper" />
            </picture>
        </section>
    </main>
    <%- include('../partials/footer') %>