<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= view.title %></title>
    <link rel="stylesheet" href="https://cdn.jsdeliver.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdeliver.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- Inicio Header-->
    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="/">
                    <img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la Marca Funkoshop">
                </a>
            </picture>

            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="/shop">SHOP<iconify-icon icon="mdi:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Funkos</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">Remeras</a>
                    </li>
                    <li class="submenu__item">
                        <a href="" class="submenu__link">LLaveros</a>
                    </li>
                </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/contact">CONTACTO</a></li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/login">LOGIN</a></li>
                <li class="navbar__item">
                    <a class="navbar__cart" href="/cart">
                    <img src="/img/icons/cart-icon.svg" alt="icono de carrito"></img>
                </a></li>
            </ul>
        </nav>
    
    
</header> 
<!--Fin Header-->
