.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-8);
    margin-bottom: var(--spacing-36);
    padding: var(--spacing-36);


    
}

.searchBar__label {
  width: 45px;
  height: 45px;
  overflow: hidden; 
}



.searchBar__iconoLupa {
    font-size: var(--font-xlarge);
    size: 1fr;
  }
  
.searchBar__input {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-8);
    border: 2px solid var(--dark-solid);
    border-radius: 6px;
    size: auto;
    
    
}

.productTable {
  padding: var(--spacing-68);
  padding-top: 0;
}

.productTable__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-24);

}

.productTable__title span {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  font-size: var(--font-medium);
  font-weight: 700;
}

.productTable__title span iconify-icon {
  color: var(--primary-900);
  font-size: var(--font-small);
}


.productTable__title h2 {
  font-size: var(--font-jumbo) ;
}

.productTable__header {
  margin-bottom: var(--spacing-24);

}

.productTable__header, .productTable__row {
  display: grid;
  grid-template-columns: 35px 1fr 3fr 3fr 35px 35px;
  align-items: center;
  gap: var(--spacing-16);
  font-size: var(--font-medium);
  font-weight: 500;

}