
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font), sans-serif;
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
    font-family: var(--alternative-font);
}

header, 
footer {
    font-family: 'Raleway', sans-serif;
    color: var(--light-font-solid);

}


ul,ol {
    list-style-type: none;
}

p {
    font-size: 1,8em;

}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--primary-solid);
    --bs-btn-border-color: var(--primary-solid);
    --bs-btn-hover-color: var(--primary-solid);
    --bs-btn-hover-bg: var(--primary-900,10%);
    --bs-btn-hover-border-color:  var(--primary-solid, 10%);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--primary-solid, 20%);
    --bs-btn-active-border-color:var(--primary-solid, 20%);
  
}

.iconify-icon {
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}

.glide__arrow--left {
    left: 0;
}

.glide__arrow--right{
    right: 0; }