
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font), sans-serif;
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-size: 2em;
    color: inherit;
    font-family: var(--alternative-font);
}

header, 
footer {
    font-family: 'Raleway', sans-serif;
    color: var(--light-font-solid);

}


ul,ol {
    list-style-type: none;
}

p {
    font-size: 1,8em;

}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


